<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1>This is a show of a device</h1>
      <%= @device.name %>
      <br>
      <%= @device.category %>
      <div class="main-card-photo" style="background-image: url(<%= image_path("devices/#{@device.name.chop.chop.chop.parameterize}.png") %>)"></div>
      <%= link_to "Créer une nouvelle alerte", new_device_alert_setting_path(@device) %>
      <%= link_to "Mes alertes", device_alert_settings_path(@device) %>
    </div>
  </div>
</div>
