<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="form shadow-sm px-4 py-3">
        <%= simple_form_for(device) do |t| %>
          <h1 class="fs-3 text-center pb-2 fw-bold">Mon capteur</h1>
          <p class="fs-5 text-center pb-2 border-bottom opacity-50 mb-2"><%= device.persisted? ? "Mettre à jour mon capteur" : "Créer un nouveau capteur" %></p>
          <%= t.input :category, label:"Catégorie", collection: Device::CATEGORY%>
          <%= t.input :subcategory, label:"Sous-catégorie", collection: Device::SUBCATEGORY %>
          <%= t.submit (device.persisted? ? "Mettre à jour mon capteur" : "Créer mon nouveau capteur"), class:"w-40 btn btn-primary text-light fw-semibold fs-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
