<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="form shadow-sm px-4 py-3">
      <%= simple_form_for(plant) do |t| %>
      <h1 class="fs-3 text-center pb-2 fw-bold"><%= "Ma plante" %></h1>
        <p class="fs-5 text-center pb-2 border-bottom opacity-50 mb-2"><%= "Créer une nouvelle plante" %></p>
      <%= t.input :family %>
      <div class="row ">
        <div class="col-12 col-lg-6">
          <%= t.input :species %>
        </div>
        <div class="col-12 col-lg-6">
          <%= t.input :site_name %>
        </div>
      </div>
      <%= t.input :description %>
      <% if plant.persisted?  %>
        <%= t.submit "Mettre à jour ma plante", class:"w-40 btn btn-primary text-light fw-semibold fs-5"%>
      <% else %>
        <%= t.submit "Enregistrer ma nouvelle plante", class:"w-40 btn btn-primary text-light fw-semibold fs-5"%>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
