<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="form shadow-sm px-4 py-3">
      <%= simple_form_for([device, alert_setting]) do |t| %>
      <h1 class="fs-3 text-center pb-2 fw-bold"><%= "Mon alerte" %></h1>
      <p class="fs-5 text-center pb-2 border-bottom opacity-50 mb-2"><%= "Créer une nouvelle alerte" %></p>
      <%= t.input :description, required: true %>
      <div class="row ">
        <div class="col-12 col-lg-6">
          <%= t.input :temperature_min if @device.temperature %>
        </div>
        <div class="col-12 col-lg-6">
          <%= t.input :temperature_max if @device.temperature %>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 col-lg-6">
          <%= t.input :air_rh_min if @device.air_rh %>
        </div>
        <div class="col-12 col-lg-6">
          <%= t.input :air_rh_max if @device.air_rh %>
        </div>
      </div>
      <%= t.input :tank_level_min if @device.tank_level %>
      <div class="row">
        <div class="col-12 col-lg-6">
          <%= t.input :ground_rh_min if @device.ground_rh %>
        </div>
        <div class="col-12 col-lg-6">
          <%= t.input :ground_rh_max if @device.ground_rh %>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 col-lg-6">
          <%= t.input :luminosity_min if @device.luminosity %>
        </div>
        <div class="col-12 col-lg-6">
          <%= t.input :luminosity_max if @device.luminosity %>
        </div>
      </div>
      <% if @alert_setting.persisted?  %>
        <%= t.submit "Mettre à jour mon alerte", class:"w-40 btn btn-primary text-light fw-semibold fs-5" %>
      <% else %>
        <%= t.submit "Ajouter ma nouvelle alerte", class:"w-40 btn btn-primary text-light fw-semibold fs-5" %>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
