<div class="main-card h-100 border shadow-sm">
  <div class="main-card-info">
    <h3 class="main-card-title card-header mb-0"><%= alert_setting.sensor.name %></h3>
    <div class="d-flex flex-column ms-3">
      <% if alert_setting.temperature_min %>
        <div class="py-2 d-flex align-items-center">
          <i class="fa-solid fa-temperature-half text-info me-3"></i>
          <div class="opacity-50">
            <p class="mb-0 text-start fw-bolder">Température</p>
            <%= "min: #{alert_setting.temperature_min.to_i} °C - " if alert_setting.temperature_min %>
            <%= "max: #{alert_setting.temperature_max.to_i} °C" if alert_setting.temperature_max %>
          </div>
        </div>
      <% end %>
      <% if alert_setting.air_rh_min %>
        <div class="py-2 d-flex align-items-center">
          <i class="fa-solid fa-droplet text-info me-3"></i>
          <div class="opacity-50">
            <p class="mb-0 text-start fw-bolder">Humidité air</p>
            <%= "min: #{alert_setting.air_rh_min} % - " if alert_setting.air_rh_min %>
            <%= "max: #{alert_setting.air_rh_max} %" if alert_setting.air_rh_max %>
          </div>
        </div>
      <% end %>
      <% if alert_setting.tank_level_min %>
        <div class="py-2 d-flex align-items-center">
          <i class="fa-solid fa-glass-water text-info me-3"></i>
          <div class="opacity-50">
            <p class="mb-0 text-start fw-bolder">État du réservoir</p>
            <%= "#{alert_setting.tank_level_min} L" unless alert_setting.tank_level_min.nil? || alert_setting.tank_level_min == 0 %>
          </div>
        </div>
      <% end %>
      <% if alert_setting.ground_rh_min %>
        <div class="py-2 d-flex align-items-center">
          <i class="fa-solid fa-droplet text-info me-3"></i>
          <div class="opacity-50">
            <p class="mb-0 text-start fw-bolder">Humidité sol</p>
            <%= "min: #{alert_setting.ground_rh_min} % - " if alert_setting.ground_rh_min %>
            <%= "max: #{alert_setting.ground_rh_max} %" if alert_setting.ground_rh_max %>
          </div>
        </div>
      <% end %>
      <% if alert_setting.luminosity_min %>
        <div class="py-2 d-flex align-items-center">
          <i class="fa-solid fa-lightbulb text-info me-3"></i>
          <div class="opacity-50">
            <p class="mb-0 text-start fw-bolder">Luminosité</p>
            <%= "min: #{alert_setting.luminosity_min} lumens" if alert_setting.luminosity_min %>
            <%= "max: #{alert_setting.luminosity_max} lumens" if alert_setting.luminosity_max %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
