<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="d-flex flex-column">
            <span class= "fs-4 text-primary">Bienvenue <%= current_user.first_name.capitalize %> !</span>
            <div class="d-flex text-secondary align-items-center">
              <i class="fa-solid fa-building me-2"></i>
              <span><%= current_user.company.capitalize %></span>
            </div>
          </div>
        <div>
          <button class=" btn btn-outline-info px-3 px-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ajouter</button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Un nouveau site", "/sites/new", class: "dropdown-item text-black" %>
            <%= link_to "Une nouvelle plante", "/plants/new", class: "dropdown-item text-black" %>
            <%= link_to "Un nouveau capteur", "/devices/new", class: "dropdown-item text-black" %>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs" id="Tab" role="tablist">
        <li class="nav-item">
          <button class="button_map nav-link <%= 'active' unless @search %>" aria-current="page" id="sites-tab" data-bs-toggle="tab" data-bs-target="#sites" type="button" role="tab" aria-controls="sites" aria-selected="true">Mes emplacements</button>
        </li>
        <li class="nav-item">
          <button class="nav-link <%= 'active' if @search %>" aria-current="page" id="plants-tab" data-bs-toggle="tab" data-bs-target="#plants" type="button" role="tab" aria-controls="plants" aria-selected="true">Mes plantes</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="devices-tab" data-bs-toggle="tab" data-bs-target="#devices" type="button" role="tab" aria-controls="devices" aria-selected="true">Mes capteurs</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" id="alert_settings-tab" data-bs-toggle="tab" data-bs-target="#alert_settings" type="button" role="tab" aria-controls="alert_settings" aria-selected="true">Ma gestion d'alertes</button>
        </li>
      </ul>
      <div class="tab-content" id="TabContent">
        <div class="my-3 tab-pane fade show <%= 'active' unless @search %>" id="sites" role="tabpanel" aria-labelledby="sites-tab">
          <div style="width: 100%; height: 600px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
        <div class="my-3 tab-pane fade show <%= 'active' if @search %>" id="plants" role="tabpanel" aria-labelledby="plants-tab">
          <%= render "/partial/filter"%>
          <div class="grid">
              <% @plants3.each do |plant| %>
              <%= link_to plant_path(plant), class: 'text-decoration-none' do %>
                <%= render 'partial/card', plant: plant %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="my-3 tab-pane fade show" id="devices" role="tabpanel" aria-labelledby="devices-tab">
          <div class="grid">
              <% @devices.each do |device| %>
                <%= link_to device_path(device), class: 'text-decoration-none' do %>
                  <%= render 'partial/card_device', device: device %>
                <% end %>
              <% end %>
          </div>
        </div>
        <div class="my-3 tab-pane fade show" id="alert_settings" role="tabpanel" aria-labelledby="alert_settings-tab">
          <div class="grid">
              <% @alert_settings.each do |alert_setting| %>
                <%= link_to device_path(alert_setting.sensor), class: 'text-decoration-none' do %>
                  <%= render 'partial/card_alert_setting', alert_setting: alert_setting %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
