<div class="image home-banner " style="background-image:url('<%= image_path "illustrations/banner.png"%>');">
  <div class="text-primary ms-5">
    <h1 class=" fs-1"> Vos <strong>plantes</strong> comme vous ne les avez <br><strong>jamais vues</strong>. </h1>
    <p class="fs-3 fw-bold my-4">Une technologie innovante au service de vos plantes</p>
  </div>
  <div class="d-flex ms-5 mt-5">
      <%= link_to "Accéder à mon tableau de bord", dashboard_path, class: "btn btn-lg btn-info nav-link text-light py-2 px-3 fw-bold fs-5" %>
  </div>
</div>
  <div class="rounded-bg bg-info">
    <div>
      <div class="advantages d-flex container justify-content-center">
        <div class="">
          <div class="image home-svg d-flex align-items-center justify-content-center fs-1 text-primary" style="background-image: url('<%= image_path "illustrations/blob-haikei.svg"%>')">
          <i class="fa-solid fa-angles-right"></i>
          </div>
        <h4 class="text-light text-center">Gagnez du temps</h4>
        </div>
        <div class="mx-4">
          <div class="image home-svg d-flex align-items-center justify-content-center fs-1 text-primary" style="background-image: url('<%= image_path "illustrations/blob-2.svg"%>')">
          <i class="fa-solid fa-graduation-cap"></i>
          </div>
        <h4 class="text-light text-center">Développez votre<br>expertise</h4>
        </div>
        <div class="">
          <div class="image home-svg d-flex align-items-center justify-content-center fs-1 text-primary" style="background-image: url('<%= image_path "illustrations/blob-haikei-3.svg"%>')">
          <i class="fa-solid fa-arrow-up-right-dots"></i>
          </div>
        <h4 class="text-light text-center">Accélérez votre<br>croissance</h4>
        </div>
      </div>
    <hr class="container w-50 my-5">
  </div>
  <div class="bg-info">
    <div class="text-center container">
      <h2 class=" fs-1 text-center text-light fw-bolder">Notre solution ?</h2>
      <div class=" text-center my-3">
        <h3 class="text-light my-4">Une plateforme<strong> intuitive</strong></h3>
        <div class="d-flex justify-content-center">
          <img src="<%= image_path "illustrations/show1.png"%>" alt="" class="home-img rounded shadow-sm" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
          <div class="d-flex flex-column justify-content-between home-img mx-3">
            <img src="<%= image_path "illustrations/show2.png"%>" alt="" class="rounded shadow-sm" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500">
            <img src="<%= image_path "illustrations/show3.png"%>" alt="" class="rounded shadow-sm" data-aos="fade-up" data-aos-duration="1000">
          </div>
          <div class="d-flex flex-column home-img justify-content-between ">
            <img src="<%= image_path "illustrations/show4.png"%>" alt="" class="rounded shadow-sm" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
            <img src="<%= image_path "illustrations/show5.png"%>" alt="" class="rounded shadow-sm" data-aos="fade-left" data-aos-duration="1000" >
          </div>
        </div>
      </div>
      <h3 class="text-primary mt-5  mb-4 text-light fw-bolder">Des outils pour <strong>tracker</strong> et <strong>gérer</strong> vos plantes à distance</h3>
      <div class="d-flex container flex-column mx-4">
        <div class="d-flex align-items-center justify-content-around">
          <div class="image home-svg1 d-flex align-items-center justify-content-center fs-1 text-primary" style="background-image: url('<%= image_path "illustrations/blob-haikei.svg"%>')">
          <div class="flex-column">
            <i class="fa-solid fa-video"></i>
            <h5 class="fw-bold fs-3">Caméra intégrée</h5>
          </div>
          </div>
        <h4 class="text-light text-start fs-3">Une IA surveille la santé de vos<br>plantes en temps réel</h4>
        </div>
        <div class="my-2 d-flex align-items-center justify-content-around">
        <h4 class="text-light text-start fs-3">Une plante a besoin d'eau ? Elle sera<br>arrosée automatiquement</h4>
          <div class="image home-svg1 d-flex align-items-center justify-content-center fs-1 text-primary" style="background-image: url('<%= image_path "illustrations/blob-2.svg"%>')">
          <div class="flex-column">
            <i class="fa-solid fa-calendar-check"></i>
            <h5 class="fw-bold fs-3">Automatisation<br>des tâches</h5>
          </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-around">
          <div class="image home-svg1 d-flex align-items-center justify-content-center fs-1 text-primary" style="background-image: url('<%= image_path "illustrations/blob-haikei-3.svg"%>')">
          <div class="flex-column">
            <i class="fa-solid fa-chart-column"></i>
            <h5 class="fw-bold fs-3">Suivi 24/24</h5>
          </div>
          </div>
        <h4 class="text-light text-start fs-3">Qualité de l'air, qualité de la<br>terre, taux d'humidité...</h4>
        </div>
      </div>
    <div class="d-flex mx-3 mt-5 align-items-center justify-content-between">
        <div class="p-5 text-start mx-3">
          <div class="text-white fs-3">
            <%= render 'partial/logo' %>
            <p class="text-light fs-5 fw-normal">Vos <strong>plantes</strong> comme vous ne les avez <strong>jamais vues</strong>.</p>
          </div>
        </div>
          <%= link_to "Accéder à mon tableau de bord", dashboard_path, id:"bottom-button", class: "btn btn-outline-light nav-link text-light py-2 px-3 fw-bold fs-5" %>
    </div>
    </div>
  </div>
