<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <h1><%= @plant.family %></h1>
      <div class="show-plant grid justify-content-between">
        <div class="show-plant-about p-3 main-card border shadow-sm">
          <h3>À propos</h3>
          <div class="photo my-3 rounded" style="background-image: url(<%= image_path("plants/#{@plant.family.parameterize}") %>)"></div>
          <p><%= @plant.description %></p>
          <p><%= @plant.species %></p>
          <p><%= @plant.site_name %></p>
        </div>
        <div class="show-plant-data">
          <div class="p-3 main-card border shadow-sm">
            <h3>Environnement</h3>
            <%= area_chart @data, colors: ["#097479", "#FFA585"] %>
          </div>
          <div class="p-3 main-card border shadow-sm">
            <h3>Réservoir</h3>
          </div>
        </div>
        <div class="show-plant-data">
          <div class="p-3 main-card border shadow-sm">
            <h3>Luminosité</h3>
          </div>
          <div class="p-3 main-card border shadow-sm">
            <h3>Alertes</h3>
            <p>Pas d'alertes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
