<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
      <h1 class="mb-3"><%= @plant.family %></h1>
      <%= link_to edit_plant_path(@plant) do %><button class="btn btn-outline-primary">Modifier</button><% end %>
      </div>
      <div class="show-plant row" data-controller="refresh-latest" data-refresh-latest-metrics-url-value="<%=metrics_plant_path(@plant)%>">
        <div class="show-plant-about mb-3 col-12 col-lg-4 d-flex flex-column">
          <div class="p-3 main-card border shadow-sm flex-grow-1">
            <h3>À propos</h3>
            <div class="photo my-3 rounded" style="background-image: url(<%= image_path("plants/#{@plant.family.parameterize}.png") %>)"></div>
            <div class="mb-3">
              <div class="d-flex align-items-center mb-1 opacity-50">
                <i class="fa-solid fa-leaf me-2"></i>
                <span>Espèce</span>
              </div>
              <p><%= @plant.species %></p>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center mb-1 opacity-50">
                <i class="fa-solid fa-location-dot me-2"></i>
                <span>Localisation</span>
              </div>
              <p><%= @plant.site_name %></p>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center mb-1 opacity-50">
                <i class="fa-solid fa-circle-info me-2"></i>
                <span>Détails</span>
              </div>
              <p><%= @plant.description %></p>
            </div>
          </div>
        </div>
        <% if @attached_devices.empty? %>
          <div class="show-plant-data mb-3 col-12 col-lg-8 d-flex flex-column">
            <div class="p-3 main-card border shadow-sm d-flex justify-content-center align-items-center flex-grow-1">
              <div class="d-flex flex-column align-items-center">
                <h3>Aucune donnée</h3>
                <span>Associez cette plante à un capteur pour suivre sa santé</span>
              </div>
            </div>
          </div>
        <% else %>
          <div class="show-plant-data mb-3 col-12 col-lg-4 d-flex flex-column">
            <div class="p-3 mb-3 d-flex flex-column main-card flex-grow-1 border shadow-sm">
              <h3>Environnement</h3>
              <% if @temperature_air_rh %>
                <%= render 'temperature_air_rh', temperature_latest: @temperature_latest, air_rh_latest: @air_rh_latest %>
                <%= line_chart for_temperature_air_rh_plant_path(@plant), refresh: 5, colors: ["#097479", "#A2E8E6"], dataset: {borderWidth: 0.5} %>
              <% else %>
              <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                <span>Pas de capteur associé</span>
              </div>
              <% end %>
            </div>
            <div class="p-3 d-flex flex-column main-card border shadow-sm">
              <h3>Réservoir</h3>
              <% if @tank_level_latest %>
                <%= render 'tank_level', tank_level_latest: @tank_level_latest %>
              <% else %>
              <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                <span>Pas de capteur associé</span>
              </div>
              <% end %>
            </div>
          </div>
          <div class="show-plant-data mb-3 col-12 col-lg-4 d-flex flex-column">
            <div class="p-3 mb-3 main-card border shadow-sm">
              <h3>Humidité sol</h3>
              <% if @ground_rh %>
                <%= render 'ground_rh', ground_rh_latest: @ground_rh_latest %>
                <%= line_chart for_ground_rh_plant_path(@plant), refresh: 5, suffix:"%", colors: ["#DEA057"], dataset: {borderWidth: 0.5} %>
              <% else %>
              <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                <span>Pas de capteur associé</span>
              </div>
              <% end %>
            </div>
            <div class="p-3 d-flex flex-column flex-grow-1 main-card border shadow-sm">
              <h3>Alertes</h3>
              <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                <span>Pas d'alertes pour <%= @plant.family %> (#<%= @plant.id %>)</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
