<% content_for :meta_title, "MYGROWBOX - #{@plant.family}" %>
<% breadcrumb :plant, @plant %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
      <h1 class="mb-3"><%= @plant.family %></h1>
        <%= link_to edit_plant_path(@plant) do %><button class="btn btn-outline-primary ms-2">Modifier</button><% end %>
      </div>
      <div class="show-plant row" data-controller="refresh-latest" data-refresh-latest-metrics-url-value="<%=metrics_plant_path(@plant)%>">
        <div class="show-plant-about mb-3 col-12 col-lg-4 d-flex flex-column">
          <div class="p-3 main-card border shadow-sm flex-grow-1">
            <h3>À propos</h3>
            <div class="photo my-3 shadow-sm rounded" style="background-image: url(<%= image_path("plants/#{@plant.family.parameterize}.png") %>)"></div>
            <div class="mb-3">
              <div class="d-flex align-items-center mb-1 opacity-50">
                <i class="fa-solid fa-leaf me-2"></i>
                <span>Espèce</span>
              </div>
              <p><%= @plant.species %></p>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center mb-1 opacity-50">
                <i class="fa-solid fa-location-dot me-2"></i>
                <span>Localisation</span>
              </div>
              <p><%= @plant.site.name %></p>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center mb-1 opacity-50">
                <i class="fa-solid fa-circle-info me-2"></i>
                <span>Détails</span>
              </div>
              <p><%= @plant.description %></p>
            </div>
          </div>
        </div>
        <% if @attached_devices.empty? %>
          <div class="show-plant-data mb-3 col-12 col-lg-8 d-flex flex-column">
            <div class="p-3 main-card border shadow-sm d-flex justify-content-center align-items-center flex-grow-1">
              <div class="d-flex flex-column align-items-center">
                <h3>Aucune donnée</h3>
                <span>Associez cette plante à un capteur pour suivre sa santé</span>
              </div>
            </div>
          </div>
        <% else %>
          <div class="show-plant-data mb-3 col-12 col-lg-4 d-flex flex-column">
            <div class="p-3 mb-3 d-flex flex-column main-card flex-grow-1 border shadow-sm">
              <h3>Environnement</h3>
              <% if @temperature_air_rh %>
                <%= render 'temperature_air_rh', temperature_latest: @temperature_latest, air_rh_latest: @air_rh_latest %>
                <%= line_chart for_temperature_air_rh_plant_path(@plant), refresh: 1, colors: ["#097479", "#A2E8E6"], dataset: {borderWidth: 0.5} %>
              <% else %>
              <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                <span>Pas de capteur associé</span>
              </div>
              <% end %>
            </div>
            <div class="p-3 d-flex flex-column main-card border shadow-sm">
              <div class="d-flex justify-content-between align-items-center ">
              <h3>Arrosage</h3>
              <% unless @plant.devices[1].nil? %>
                <% if @plant.devices[1].alert_settings != [] %>
                  <% if @ground_rh_latest < @plant.devices[1].alert_settings.first.ground_rh_min%>
                    <button type="button" class="btn btn-info text-light fw-bolder me-2 my-2 py-1" onclick="window.location = '<%=params[:id]%>/watering'">Démarrer</button>
                  <% else %>
                    <button type="button" class="btn btn-dark opacity-25 text-light fw-bolder me-2 my-2 py-1" onclick="window.location = '<%=params[:id]%>/watering'">Démarrer</button>
                  <% end %>
                <% end %>
              <% end %>
              </div>
              <%# <button type="submit" formaction="./watering"> %>
              <%# <button onclick="location.href='./watering'">Click Me</button> %>
              <%# <button type="submit" formaction="./watering">Click Me 2</button> %>
              <% if @tank_level_latest %>
                <%= render 'tank_level', tank_level_latest: @tank_level_latest %>
              <% else %>
              <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                <span>Pas de capteur associé</span>
              </div>
              <% end %>
            </div>
          </div>
          <div class="show-plant-data mb-3 col-12 col-lg-4 d-flex flex-column">
            <div class="p-3 mb-3 main-card border shadow-sm">
              <h3>Humidité du sol</h3>
              <% if @ground_rh %>
                <%= render 'ground_rh', ground_rh_latest: @ground_rh_latest %>
                <%= line_chart for_ground_rh_plant_path(@plant), refresh: 1, suffix:"%", colors: ["#DEA057"], dataset: {borderWidth: 0.5} %>
              <% else %>
              <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                <span>Pas de capteur associé</span>
              </div>
              <% end %>
            </div>
            <div class="p-3 d-flex flex-column flex-grow-1 main-card border shadow-sm">
              <h3>Alertes</h3>
              <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
              <% unless @plant.devices[1].nil? %>
                <% if @plant.devices[1].alert_settings == [] %>
                  <span>Aucune alerte n'est rattachée à cette plante</span>
                <% else %>
                  <div class="d-flex align-items-center">
                    <div class="pe-2">
                      <% unless @plant.devices[1].alert_settings.first.ground_rh_min.nil? %>
                        <i class="fa-solid fa-droplet"></i>
                      <% end %>
                    </div>
                    <%= "Humidité du sol min: #{@plant.devices[1].alert_settings.first.ground_rh_min} % - " unless @plant.devices[1].alert_settings.first.ground_rh_min.nil?%>
                    <%= "max: #{@plant.devices[1].alert_settings.first.ground_rh_max} %" unless @plant.devices[1].alert_settings.first.ground_rh_max.nil? %>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="pe-2">
                      <% unless @plant.devices[1].alert_settings.first.luminosity_min.nil? %>
                        <i class="fa-regular fa-lightbulb"></i>
                      <% end %>
                    </div>
                    <%= "Luminosité min: #{@plant.devices[1].alert_settings.first.luminosity_min} - " unless @plant.devices[1].alert_settings.first.luminosity_min.nil? %>
                    <%= "max: #{@plant.devices[1].alert_settings.first.luminosity_max} lumens" unless @plant.devices[1].alert_settings.first.luminosity_max.nil? %>
                  </div>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
