<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="form shadow-sm px-4 py-3">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <h1 class="fs-3 text-center pb-2 fw-bold"><%= "Welcome back" %></h1>
            <p class="fs-5 text-center pb-2 border-bottom opacity-50 mb-2"><%= "Log in" %></p>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in",
            class:"w-40 btn btn-primary text-light"%>
          </div>
        <% end %>
      </div>
      <div class="create d-flex justify-content between mt-3">
        <div>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class:"btn btn-outline-primary me-4" %><br/>
        <% end %>
        </div>
        <div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class:"btn btn-outline-primary" %><br/>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
